---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        body: '{"destinations":["New York"],"name":"test job for get","origins":["Washington DC"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.geocod.io/v1.9/distance-jobs?api_key=REDACTED
        method: POST
      response:
        body: '{"id":20,"identifier":"427d511e5b5dca632ac0ac10dfc883a8b6c3bc2a","status":"ENQUEUED","name":"test job for get","created_at":"2026-02-06T19:37:05.000000Z","origins_count":1,"destinations_count":1,"total_calculations":1}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api303
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "997"
        status: 201 Created
        code: 201
        duration: 291.68375ms
    - id: 1
      request:
        host: api.geocod.io
        headers:
        url: https://api.geocod.io/v1.9/distance-jobs/427d511e5b5dca632ac0ac10dfc883a8b6c3bc2a?api_key=REDACTED
        method: GET
      response:
        body: '{"data":{"identifier":"427d511e5b5dca632ac0ac10dfc883a8b6c3bc2a","name":"test job for get","created_at":"2026-02-06T19:37:05.000000Z","origins_type":"addresses","origins_count":1,"destinations_type":"addresses","destinations_count":1,"distance_mode":"straightline","status":"PROCESSING","download_url":null,"total_calculations":1,"calculations_completed":0,"progress":0,"status_message":"Initializing","time_left":"Estimating time to complete","is_expired":false}}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api277
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "996"
        status: 200 OK
        code: 200
        duration: 252.876125ms
