---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        body: '{"destinations":["New York"],"name":"test job for delete","origins":["Washington DC"]}'
        headers:
            Content-Type:
                - application/json
        url: https://api.geocod.io/v1.9/distance-jobs?api_key=REDACTED
        method: POST
      response:
        body: '{"id":22,"identifier":"9c1ec8a0e450d51416635030230d50b0da8a44c6","status":"ENQUEUED","name":"test job for delete","created_at":"2026-02-06T19:37:32.000000Z","origins_count":1,"destinations_count":1,"total_calculations":1}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api312
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "987"
        status: 201 Created
        code: 201
        duration: 355.332167ms
    - id: 1
      request:
        host: api.geocod.io
        headers:
        url: https://api.geocod.io/v1.9/distance-jobs/9c1ec8a0e450d51416635030230d50b0da8a44c6?api_key=REDACTED
        method: DELETE
      response:
        body: '{"message":"Resource not found. See our documentation at https:\/\/www.geocod.io\/docs\/"}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api310
            X-Billable-Fields-Count:
                - "0"
            X-Billable-Lookups-Count:
                - "0"
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "986"
        status: 404 Not Found
        code: 404
        duration: 266.581667ms
