---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        body: '{"destinations":["Boston","Philadelphia"],"origins":["Washington DC","New York"]}'
        form:
            mode:
                - driving
            units:
                - miles
        headers:
            Content-Type:
                - application/json
        url: https://api.geocod.io/v1.9/distance-matrix?api_key=REDACTED&mode=driving&units=miles
        method: POST
      response:
        body: '{"mode":"driving","results":[{"origin":{"query":"Washington DC","location":[38.911936,-77.016719],"id":null,"geocode":{"address_components":{"city":"Washington","county":"District of Columbia","state":"DC","zip":"20001","country":"US"},"address_lines":["","","Washington, DC 20001"],"formatted_address":"Washington, DC 20001","location":{"lat":38.911936,"lng":-77.016719},"accuracy":1,"accuracy_type":"place","source":"TIGER\/Line\u00ae dataset from the US Census Bureau"}},"destinations":[{"query":"Philadelphia","location":[40.001811,-75.11787],"id":null,"distance_miles":141.8,"distance_km":228.2,"duration_seconds":11069,"geocode":{"address_components":{"city":"Philadelphia","county":"Philadelphia County","state":"PA","zip":"19101","country":"US"},"address_lines":["","","Philadelphia, PA 19101"],"formatted_address":"Philadelphia, PA 19101","location":{"lat":40.001811,"lng":-75.11787},"accuracy":1,"accuracy_type":"place","source":"TIGER\/Line\u00ae dataset from the US Census Bureau"}},{"query":"Boston","location":[42.354318,-71.073449],"id":null,"distance_miles":434.4,"distance_km":699.2,"duration_seconds":[...]
