---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        form:
            destinations[]:
                - New York
            mode:
                - driving
            origin:
                - Washington DC
            units:
                - miles
        headers:
        url: https://api.geocod.io/v1.9/distance?api_key=REDACTED&destinations%5B%5D=New+York&mode=driving&origin=Washington+DC&units=miles
        method: GET
      response:
        body: '{"origin":{"location":[38.911936,-77.016719],"geocode":{"address_components":{"city":"Washington","county":"District of Columbia","state":"DC","zip":"20001","country":"US"},"address_lines":["","","Washington, DC 20001"],"formatted_address":"Washington, DC 20001","location":{"lat":38.911936,"lng":-77.016719},"accuracy":1,"accuracy_type":"place","source":"TIGER\/Line\u00ae dataset from the US Census Bureau"}},"mode":"driving","destinations":[{"query":"New York","location":[40.750422,-73.996328],"id":null,"distance_miles":226.6,"distance_km":364.7,"duration_seconds":17061,"geocode":{"address_components":{"city":"New York","county":"New York County","state":"NY","zip":"10001","country":"US"},"address_lines":["","","New York, NY 10001"],"formatted_address":"New York, NY 10001","location":{"lat":40.750422,"lng":-73.996328},"accuracy":1,"accuracy_type":"place","source":"TIGER\/Line\u00ae dataset from the US Census Bureau"}}]}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api303
            X-Billable-Distance-Calculations:
                - "2"
            X-Billable-Lookups-Count:
                - "2"
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "993"
        status: 200 OK
        code: 200
        duration: 607.782167ms
