---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        body: '{"destinations":["New York"],"distance_mode":"driving","name":"test job","origins":["Washington DC"],"units":"miles"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.geocod.io/v1.9/distance-jobs?api_key=REDACTED
        method: POST
      response:
        body: '{"id":19,"identifier":"cdeb73e42e3eaf327f401f63ab5acbc4a7868b07","status":"ENQUEUED","name":"test job","created_at":"2026-02-06T19:37:04.000000Z","origins_count":1,"destinations_count":1,"total_calculations":1}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api309
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "999"
        status: 201 Created
        code: 201
        duration: 390.592708ms
