---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        form:
            q:
                - 1600 Pennsylvania Ave NW, Washington DC
        headers:
        url: https://api.geocod.io/v1.9/geocode?api_key=REDACTED&q=1600+Pennsylvania+Ave+NW%2C+Washington+DC
        method: GET
      response:
        body: '{"input":{"address_components":{"number":"1600","street":"Pennsylvania","suffix":"Ave","postdirectional":"NW","formatted_street":"Pennsylvania Ave NW","city":"Washington","state":"DC","country":"US"},"formatted_address":"1600 Pennsylvania Ave NW, Washington, DC"},"results":[{"address_components":{"number":"1600","street":"Pennsylvania","suffix":"Ave","postdirectional":"NW","formatted_street":"Pennsylvania Ave NW","city":"Washington","county":"District of Columbia","state":"DC","zip":"20500","country":"US"},"address_lines":["1600 Pennsylvania Ave NW","","Washington, DC 20500"],"formatted_address":"1600 Pennsylvania Ave NW, Washington, DC 20500","location":{"lat":38.897675,"lng":-77.036547},"accuracy":1,"accuracy_type":"rooftop","source":"Statewide (City of Washington)"}]}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api306
            X-Billable-Fields-Count:
                - "0"
            X-Billable-Lookups-Count:
                - "1"
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "999"
        status: 200 OK
        code: 200
        duration: 419.982417ms
