---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        body: '["1600 Pennsylvania Ave NW, Washington DC","1 Infinite Loop, Cupertino CA"]'
        headers:
            Content-Type:
                - application/json
        url: https://api.geocod.io/v1.9/geocode?api_key=REDACTED
        method: POST
      response:
        body: '{"results":[{"query":"1600 Pennsylvania Ave NW, Washington DC","response":{"input":{"address_components":{"number":"1600","street":"Pennsylvania","suffix":"Ave","postdirectional":"NW","formatted_street":"Pennsylvania Ave NW","city":"Washington","state":"DC","country":"US"},"formatted_address":"1600 Pennsylvania Ave NW, Washington, DC"},"results":[{"address_components":{"number":"1600","street":"Pennsylvania","suffix":"Ave","postdirectional":"NW","formatted_street":"Pennsylvania Ave NW","city":"Washington","county":"District of Columbia","state":"DC","zip":"20500","country":"US"},"address_lines":["1600 Pennsylvania Ave NW","","Washington, DC 20500"],"formatted_address":"1600 Pennsylvania Ave NW, Washington, DC 20500","location":{"lat":38.897675,"lng":-77.036547},"accuracy":1,"accuracy_type":"rooftop","source":"Statewide (City of Washington)"}]}},{"query":"1 Infinite Loop, Cupertino CA","response":{"input":{"address_components":{"number":"1","street":"Infinite","suffix":"Loop","formatted_street":"Infinite Loop","city":"Cupertino","state":"CA","country":"US"},"formatted_address":"1 Infinite Loop, Cupertino, CA"},"results":[{"address_components":{"number":"1","street":"Infinite","suffix":"Loop","formatted_street":"Infinite Loop","city":"Cupertino","county":"Santa Clara County","state":"CA","zip":"95014","country":"US"},"address_lines":["1 Infinite Loop","","Cupertino, CA 95014"],"formatted_address":"1 Infinite Loop, Cupertino, CA 95014","location":{"lat":37.331524,"lng":-122.030231},"accuracy":1,"accuracy_type":"rooftop","source":"City of Cupertino"}]}}]}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api285
            X-Billable-Fields-Count:
                - "0"
            X-Billable-Lookups-Count:
                - "2"
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "996"
        status: 200 OK
        code: 200
        duration: 394.576167ms
