---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        form:
            limit:
                - "1"
            q:
                - 1109 N Highland St, Arlington VA
        headers:
        url: https://api.geocod.io/v1.9/geocode?api_key=REDACTED&limit=1&q=1109+N+Highland+St%2C+Arlington+VA
        method: GET
      response:
        body: '{"input":{"address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N Highland St","city":"Arlington","state":"VA","country":"US"},"formatted_address":"1109 N Highland St, Arlington, VA"},"results":[{"address_components":{"number":"1109","predirectional":"N","street":"Highland","suffix":"St","formatted_street":"N Highland St","city":"Arlington","county":"Arlington County","state":"VA","zip":"22201","country":"US"},"address_lines":["1109 N Highland St","","Arlington, VA 22201"],"formatted_address":"1109 N Highland St, Arlington, VA 22201","location":{"lat":38.886672,"lng":-77.094735},"accuracy":1,"accuracy_type":"rooftop","source":"Arlington"}]}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api310
            X-Billable-Fields-Count:
                - "0"
            X-Billable-Lookups-Count:
                - "1"
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "997"
        status: 200 OK
        code: 200
        duration: 342.752125ms
