---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        form:
            destinations[]:
                - New York
            distance_mode:
                - straightline
            q:
                - 1600 Pennsylvania Ave NW, Washington DC
        headers:
        url: https://api.geocod.io/v1.9/geocode?api_key=REDACTED&destinations%5B%5D=New+York&distance_mode=straightline&q=1600+Pennsylvania+Ave+NW%2C+Washington+DC
        method: GET
      response:
        body: '{"input":{"address_components":{"number":"1600","street":"Pennsylvania","suffix":"Ave","postdirectional":"NW","formatted_street":"Pennsylvania Ave NW","city":"Washington","state":"DC","country":"US"},"formatted_address":"1600 Pennsylvania Ave NW, Washington, DC"},"results":[{"stable_address_key":"gcod_usnqu2qtyk7ac38dlpzanec598p2c","address_components":{"number":"1600","street":"Pennsylvania","suffix":"Ave","postdirectional":"NW","formatted_street":"Pennsylvania Ave NW","city":"Washington","county":"District of Columbia","state":"DC","zip":"20500","country":"US"},"address_lines":["1600 Pennsylvania Ave NW","","Washington, DC 20500"],"formatted_address":"1600 Pennsylvania Ave NW, Washington, DC 20500","location":{"lat":38.897675,"lng":-77.036547},"accuracy":1,"accuracy_type":"rooftop","match_type":null,"source":"Statewide (City of Washington)","destinations":[{"query":"New York","location":[40.750422,-73.996328],"distance_miles":206.2,"distance_km":331.8,"duration_seconds":null,"geocode":{"address_components":{"city":"New York","county":"New York County","state":"NY","zip":"10001","country":"US"},"formatted_address":"New York, NY 10001","location":{"lat":40.750422,"lng":-73.996328},"accuracy":1,"accuracy_type":"place","source":"TIGER\/Line\u00ae dataset from the US Census Bureau"}}]}],"_warnings":["There is a newer API version available, please consider upgrading to v1.11. See changelog here: https:\/\/www.geocod.io\/docs\/#changelog"]}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api294
            X-Billable-Fields-Count:
                - "0"
            X-Billable-Lookups-Count:
                - "2"
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "999"
        status: 200 OK
        code: 200
        duration: 667.931417ms
