---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        body: "--83cc17a4a702d0393a7f45f3206d91ff41ef58e77b0be0f63414d83cbd24\r\nContent-Disposition: form-data; name=\"file\"; filename=\"test.csv\"\r\nContent-Type: application/octet-stream\r\n\r\naddress\n1600 Pennsylvania Ave NW, Washington DC\n\r\n--83cc17a4a702d0393a7f45f3206d91ff41ef58e77b0be0f63414d83cbd24--\r\n"
        form:
            direction:
                - forward
            fields:
                - cd,timezone
            format:
                - '{{A}}'
        headers:
            Content-Type:
                - multipart/form-data; boundary=83cc17a4a702d0393a7f45f3206d91ff41ef58e77b0be0f63414d83cbd24
        url: https://api.geocod.io/v1.9/lists?api_key=REDACTED&direction=forward&fields=cd%2Ctimezone&format=%7B%7BA%7D%7D
        method: POST
      response:
        body: '{"id":12252836,"file":{"headers":["address"],"estimated_rows_count":1,"filename":"test.csv"},"_warnings":["There is a newer API version available, please consider upgrading to v1.11. See changelog here: https:\/\/www.geocod.io\/docs\/#changelog"]}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api310
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "999"
        status: 200 OK
        code: 200
        duration: 1.047152083s
