---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        body: "--29ffd384b7618d4300881b8661e458b3cb1d6b979eee15f8624ad418016a\r\nContent-Disposition: form-data; name=\"file\"; filename=\"test.csv\"\r\nContent-Type: application/octet-stream\r\n\r\naddress\n1600 Pennsylvania Ave NW, Washington DC\n\r\n--29ffd384b7618d4300881b8661e458b3cb1d6b979eee15f8624ad418016a--\r\n"
        form:
            direction:
                - forward
            format:
                - '{{A}}'
        headers:
            Content-Type:
                - multipart/form-data; boundary=29ffd384b7618d4300881b8661e458b3cb1d6b979eee15f8624ad418016a
        url: https://api.geocod.io/v1.9/lists?api_key=REDACTED&direction=forward&format=%7B%7BA%7D%7D
        method: POST
      response:
        body: '{"id":12231595,"file":{"headers":["address"],"estimated_rows_count":1,"filename":"test.csv"}}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api309
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "993"
        status: 200 OK
        code: 200
        duration: 832.2765ms
