---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        body: "--4c8591dd6a4f0fcb04ba98629704c5a7ed34fdcbd667fb7d2923ce2e19b2\r\nContent-Disposition: form-data; name=\"file\"; filename=\"test.csv\"\r\nContent-Type: application/octet-stream\r\n\r\naddress\n1600 Pennsylvania Ave NW, Washington DC\n\r\n--4c8591dd6a4f0fcb04ba98629704c5a7ed34fdcbd667fb7d2923ce2e19b2--\r\n"
        form:
            direction:
                - forward
            format:
                - '{{A}}'
        headers:
            Content-Type:
                - multipart/form-data; boundary=4c8591dd6a4f0fcb04ba98629704c5a7ed34fdcbd667fb7d2923ce2e19b2
        url: https://api.geocod.io/v1.9/lists?api_key=REDACTED&direction=forward&format=%7B%7BA%7D%7D
        method: POST
      response:
        body: '{"id":12231596,"file":{"headers":["address"],"estimated_rows_count":1,"filename":"test.csv"}}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api312
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "991"
        status: 200 OK
        code: 200
        duration: 815.62675ms
    - id: 1
      request:
        host: api.geocod.io
        headers:
        url: https://api.geocod.io/v1.9/lists/12231596?api_key=REDACTED
        method: GET
      response:
        body: '{"id":12231596,"fields":[],"file":{"estimated_rows_count":1,"filename":"test.csv"},"status":{"state":"PROCESSING","progress":1,"message":"Processing","time_left_description":"Estimating time to complete","time_left_seconds":null},"download_url":null,"expires_at":"2026-02-09T19:37:10.000000Z"}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api310
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "990"
        status: 200 OK
        code: 200
        duration: 267.025834ms
