---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        headers:
        url: https://api.geocod.io/v1.9/lists?api_key=REDACTED
        method: GET
      response:
        body: '{"current_page":1,"data":[{"id":12231595,"fields":[],"file":{"estimated_rows_count":1,"filename":"test.csv"},"status":{"state":"PROCESSING","progress":1,"message":"Processing","time_left_description":"Estimating time to complete","time_left_seconds":null},"download_url":null,"expires_at":"2026-02-09T19:37:08.000000Z"},{"id":12231510,"fields":[],"file":{"estimated_rows_count":24,"filename":"sample_list.csv"},"status":{"state":"COMPLETED","progress":100,"message":"Completed","time_left_description":null,"time_left_seconds":null},"download_url":"https:\/\/api.geocod.io\/v1.9\/lists\/12231510\/download","expires_at":"2026-02-09T18:48:27.000000Z"},{"id":12231508,"fields":[],"file":{"estimated_rows_count":24,"filename":"sample_list.csv"},"status":{"state":"COMPLETED","progress":100,"m[...]
