---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        body: "--5410ef92a30a646ee747a231c2cb42662ae2e2157b3adece596cd060a312\r\nContent-Disposition: form-data; name=\"file\"; filename=\"test.csv\"\r\nContent-Type: application/octet-stream\r\n\r\naddress\n1600 Pennsylvania Ave NW, Washington DC\n\r\n--5410ef92a30a646ee747a231c2cb42662ae2e2157b3adece596cd060a312--\r\n"
        form:
            direction:
                - forward
            format:
                - '{{A}}'
        headers:
            Content-Type:
                - multipart/form-data; boundary=5410ef92a30a646ee747a231c2cb42662ae2e2157b3adece596cd060a312
        url: https://api.geocod.io/v1.9/lists?api_key=REDACTED&direction=forward&format=%7B%7BA%7D%7D
        method: POST
      response:
        body: '{"id":12231597,"file":{"headers":["address"],"estimated_rows_count":1,"filename":"test.csv"}}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api311
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "989"
        status: 200 OK
        code: 200
        duration: 844.517334ms
    - id: 1
      request:
        host: api.geocod.io
        headers:
        url: https://api.geocod.io/v1.9/lists/12231597?api_key=REDACTED
        method: DELETE
      response:
        body: '{"success":true}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api311
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "988"
        status: 200 OK
        code: 200
        duration: 854.234792ms
