---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        form:
            fields:
                - timezone
            q:
                - 38.897676,-77.036530
            skipGeocoding:
                - "true"
        headers:
        url: https://api.geocod.io/v1.9/reverse?api_key=REDACTED&fields=timezone&q=38.897676%2C-77.036530&skipGeocoding=true
        method: GET
      response:
        body: '{"results":[{"location":{"lat":38.897676,"lng":-77.03653},"accuracy_type":"coordinate","fields":{"timezone":{"name":"America\/New_York","utc_offset":-5,"observes_dst":true,"abbreviation":"EST","source":"\u00a9 OpenStreetMap contributors"}}}],"_warnings":["There is a newer API version available, please consider upgrading to v1.11. See changelog here: https:\/\/www.geocod.io\/docs\/#changelog"]}'
        headers:
            Content-Type:
                - application/json
            Request-Handler:
                - api311
            X-Billable-Fields-Count:
                - "1"
            X-Billable-Lookups-Count:
                - "0"
            X-Ratelimit-Limit:
                - "1000"
            X-Ratelimit-Period:
                - "60"
            X-Ratelimit-Remaining:
                - "997"
        status: 200 OK
        code: 200
        duration: 420.631542ms
