---
version: 2
interactions:
    - id: 0
      request:
        host: api.geocod.io
        form:
            q:
                - 38.897676,-77.036530
        headers:
        url: https://api.geocod.io/v1.9/reverse?api_key=REDACTED&q=38.897676%2C-77.036530
        method: GET
      response:
        body: '{"results":[{"address_components":{"number":"1600","street":"Pennsylvania","suffix":"Ave","postdirectional":"NW","formatted_street":"Pennsylvania Ave NW","city":"Washington","county":"District of Columbia","state":"DC","zip":"20500","country":"US"},"address_lines":["1600 Pennsylvania Ave NW","","Washington, DC 20500"],"formatted_address":"1600 Pennsylvania Ave NW, Washington, DC 20500","location":{"lat":38.897675,"lng":-77.036547},"accuracy":1,"accuracy_type":"rooftop","source":"Statewide (City of Washington)"},{"address_components":{"number":"1500","street":"Pennsylvania","suffix":"Ave","postdirectional":"NW","formatted_street":"Pennsylvania Ave NW","city":"Washington","county":"District of Columbia","state":"DC","zip":"20229","country":"US"},"address_lines":["1500 Pennsylvania Ave NW","","Washington, DC 20229"],"formatted_address":"1500 Pennsylvania Ave NW, Washington, DC 20229","location":{"lat":38.89815,"lng":-77.034336},"accuracy":1,"accuracy_type":"rooftop","sour[...]
